.header-v2 {

  .action-icon {
    font-size: 32px;
    cursor: pointer;
  }

  .ham-icon {
    color: white;
  }

  .centered-nav {
    .navbar-nav {
      margin: 0 auto;
    }
  }

  .header-pattern {
    position: relative;
  }

  .top-bar {
    .textwidget p {
      margin-bottom: 0;
    }
  }
}