@use "../base/breakpoints" as breakpoints;

.header-v2 {
  width: 100%;
  position: fixed;
  z-index: 1000;

  .action-icon {
    font-size: 32px;
  }

  .ham-icon {
    color: white;
  }

  .centered-nav {
    .navbar-nav {
      margin: 0 auto;
    }
  }

  .header-pattern {
    position: relative;
  }

  .top-bar {
    .textwidget p {
      margin-bottom: 0;
    }
  }

  @media (min-width: breakpoints.$md-breakpoint) {  
    position: initial;
  }
}

.sticky-header {
  .action-icon {
    font-size: 25px;
  }
}

.ham-icon {
  .action-icon {
    cursor: pointer;
  }
}