@use "../base/breakpoints" as breakpoints;

.wp-block-separator.partial-color-border{
    position: relative;
	&:after{
        content: '';
        position: absolute;
        display: block;
        width: 20%;
        height: 0px;
        z-index: 1;
        left: 0;
        border-width: 2px;
        border-style: solid;
        bottom: 0;
     }
}

.multimedia-section {
	margin-top: 20px;

	.wp-block-video {
		video {
			width: 100%;
		}
	}

	.podcast {
		height: 100%;
		position: relative;

		iframe {
			@media (min-width: breakpoints.$md-breakpoint) {
				margin: 0;
				position: absolute;
				top: 50%;
				left: 50%;
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
		}
	}

	.wp-block-video,
	.podcast {
		& + p {
			margin-bottom: 60px;

			@media (min-width: breakpoints.$md-breakpoint) {
				margin-bottom: 0;
			}
		}
	}
}
div.ias-noneleft {
    display: none !important;
}