@use "../base/breakpoints" as breakpoints;

#primary{
  
  border-right: 1px solid #DDD;
  margin-bottom: 20px;

	.post-content{
		color: #000000;
	}

  &.main_site_color{
    &:after{
      content: '';
      position: absolute;
      display: block;
      width: 0px;
      height: 100%;
      z-index: 1;
      left: calc(100% - 15px);
      top: 0;
      border-width: 1px;
      border-style: solid;
    }
  }
}

.important_news-mobile{
  display:none;
}

.important_news,  .important_news-mobile{
  margin-bottom: 7em;
  overflow: hidden;

  .column-left, .column-right{
    overflow: hidden;
    width: 50%;
    float: left;
    border-right: 1px solid #DDD;
  }

  .column-right{
    border:none;
  }

  .news{
  	width: 100%;
  	padding: 20px;
  	overflow: hidden;

  	img{
  		float: right;
	    width: 50%;
	    padding: 10px;
  	}

  	&.main_news{
  		img{
		    display: block;
		    margin: 0 auto;
		    float: none;
		    width: 100%;
		    padding: 0;
  		}
  	}
  	.title{
  		a{
  			color: inherit;
  		}

  		font-size: 26px;
  		line-height: 29px;
  		margin: 15px 0;
  		font-weight: bold;
  	}


  	.last-info{

  		padding-bottom: 15px;
    	margin-top: 10px;
    	span{
    		display: inline-block;
    		font-weight: bold;
    		font-size: 14px;
    		color: #4A4A4A;
    		&:first-child{
    			margin-right: 10px;
    		}
    	}

    	.related_news{
    	    margin-top: 15px;
    		.title{
    			font-size: 16px;
			    line-height: 21px;
			    display: list-item;
			    list-style-type: disc;
			    list-style-position: inside;
			    margin-top: 8px;
			    margin-bottom: 0;
			    a{
			    	color: inherit !important;
			    }
    		}
    	}
  	}

    .separator{
      width:100%;
      height: 1px;
      border-bottom: 1px solid #DDD;
      float: left;
      margin-top: 15px;
    }
  }
}

@media only screen and (max-width: 767px) {

  #primary{
    border-right: none;
  }

	.important_news .column-left, .important_news .column-right{
		width: 100%;
    border-right: none;
	}

  .important_news{
    display:none;
  }
  
  .important_news-mobile{
    display:block;
  }
}


.homepage_news{
  overflow: hidden;

  .card{
    min-width: 100%;
    max-width: 100%;
    border-bottom: 1px #DDD solid;


    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 0;
    flex: 1 0 0;
    -ms-flex-direction: column;
    flex-direction: column;
 
    margin: 0;
    padding: 20px;

    &.main_site_color{
      &:after{
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 0px;
        z-index: 1;
        left: 0;
        border-width: 1px;
        border-style: solid;
        bottom: 0;
      }
    }

    &:last-child{
    border-bottom: none;
      &.main_site_color{
        &:after{
          display:none;
        }
      }
    }

    .post-title{
      font-size: 2rem;
      font-family: Roboto;
      font-weight: 700;
      color: #000000;
      line-height: 16px;
      a{
        font-size: 1rem;
      }

      @media (min-width: breakpoints.$md-breakpoint) {
        line-height: 29px;
      }
    }

    .post-content{
      margin-bottom: 10px;
      .thumbnail-post{
        margin-left: 10px;
        float: right;
        width: 35%;
        margin-bottom: 1rem;
        overflow: hidden;
        position: relative;
      }
      .pre-info{
        margin-bottom: 10px;
        span{
          font-weight: bold;
            color: #4A4A4A;
            margin-right: 15px;
        }
      }
    }
  }

  @media (min-width: breakpoints.$md-breakpoint) {  
    padding-left: 15%;
    margin-top: 5em;
  }
}


@media (max-width: 767px) {
  #primary.main_site_color:after {
    display: none;
  }
}
