@use "../base/breakpoints" as breakpoints;

$side-menu-width: 280px;

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: $side-menu-width;
  margin-left: -$side-menu-width;
  transition: 0.5s;
  overflow: auto;
  z-index: 100000;

  &.active {
    margin-left: 0;
  }

  .side-menu-nav {
    font-size: 22px;

    .menu-item {
      margin-bottom: 16px;
    }
  }
}

.side-menu {
  .search-form {
    position: relative;
    margin: 0;
  
    > label,
    .form-control {
      width: 100%;
    }

    .icon-search {
      left: 10px;
    }

    .form-control {
      position: inherit;
      padding: 0 28px;
    }
  }
}

.menu-close-icon {
  .action-icon {
    cursor: pointer;
  }
}

body {
  &.menu-open {
    overflow: hidden;

    @media (min-width: breakpoints.$md-breakpoint) {  
      overflow: auto;
    }
  }
}