.breadcrumb {
  border-bottom-width: 2px;
  border-bottom-color: red;
  border-bottom-style: solid;
  border-radius: 0;
}

.post {
  .pre-titulo {
    font-size: 1.2em;
    color: #888;
  }

  .custom-summary {
    ul {
      list-style-type: disc;
      list-style-position: inside;
    }

    font-weight: bold;
    color: black;
  }

}