body.category{
	#primary{
		overflow: hidden;
		.left-content{
			float:left;

			h3{
				font-size: 20px;
    			margin-top: 5px;
			}
		}
		.right-content{
			float:left;

			&.posts.card-deck{
				.card{
					min-width: 100%;
					max-width: 100%;
					border-bottom: 1px #999999 solid;

					.post-content{
					    margin-bottom: 10px;
						.thumbnail-post{
						    margin-left: 10px;
							float: right;
	    					width: 40%;
						}
						.pre-info{
							margin-bottom: 10px;
							span{
								font-weight: bold;
							    color: #4A4A4A;
							    margin-right: 15px;
							}
						}
					}
				}
			}
		}
	}
}