#------------------------
#  Main ignored items
#------------------------

/../wp-config.php
/wp-config.php
.maintenance
#versionpress.maintenance
/.htaccess
/web.config

/wp-content/*
#!/wp-content/db.php
!/wp-content/index.php
!/wp-content/plugins/
#/wp-content/plugins/versionpress/
!/wp-content/mu-plugins/
!/wp-content/themes/
#!/wp-content/languages/
!/wp-content/uploads/
#!/wp-content/vpdb/


#------------------------
#  Log files
#------------------------

*.log
error_log
access_log


#------------------------
#  OS Files
#------------------------

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*[Tt]humbs.db
*.Trashes

# Francisco Gomez custom
staging
/wp-content/plugins/all-in-one-wp-migration/storage/
/wp-content/themes/**/customizer-controls.json
*.css.map
.vscode
#/wp-content/vpdb/options/ai/ai1wm_updater.ini
#/wp-content/vpdb/options/ei/eig_last_site_login.ini
#/wp-content/vpdb/options/je/jetpack_options.ini
#/wp-content/vpdb/options/st/staging_config.ini
#/wp-content/vpdb/options/st/staging_environment.ini
#/wp-content/vpdb/options/st/stats_cache.ini
#/wp-content/vpdb/options/wp/wpforms_notifications.ini
#!/wp-content/.versionpress/plugins/jetpack/schema.yml

