// Breakpoints
// In any case we need them. This is not the best solution as we should be importing 
// from the oficial bootstrap-sass.
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
