// Breakpoints
// In case we need them.
// Bootstrap default breakpoints. It'd be better to import them from bootstrap-sass
// but this is good enough for now.
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
