#primary{
	.post-content{
		color: #000000;
	}
}
.important_news {
  .news{
  	width: 50%;
  	float:left;
  	padding: 20px;
  	border-right: 1px solid #DDD;
  	overflow: hidden;

  	img{
  		float: right;
	    width: 50%;
	    padding: 10px;
  	}

  	&.main_news{
  		img{
		    display: block;
		    margin: 0 auto;
		    float: none;
		    width: 100%;
		    padding: 0;
  		}
  	}
  	.title{
  		a{
  			color: inherit !important;
  		}
  		font-size: 26px;
  		line-height: 29px;
  		margin: 15px 0;
  		font-weight: bold;
  	}

  	.last-info{
  		padding-bottom: 15px;
    	border-bottom: 1px solid #DDD;
    	margin-top: 10px;
    	span{
    		display: inline-block;
    		font-weight: bold;
    		font-size: 14px;
    		color: #4A4A4A;
    		&:first-child{
    			margin-right: 10px;
    		}
    	}

    	.related_news{
    	    margin-top: 15px;
    		.title{
    			font-size: 16px;
			    line-height: 21px;
			    display: list-item;
			    list-style-type: disc;
			    list-style-position: inside;
			    margin-top: 8px;
			    margin-bottom: 0;
			    a{
			    	color: inherit !important;
			    }
    		}
    	}
  	}
  }
}

@media only screen and (max-width: 991px) {

	.important_news .news{
		width: 100%;
	}
}